@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #030712;
    --bg-color2: #111827;
    --bg-color3: #1f2937;
    --bg-color4: #374151;
    --color1: #4b5563;
    --color2: #6b7280;
    --color3: #9ca3af;
    --color4: #d1d5db;
    --color5: #e5e7eb;
    --color6: #f3f4f6;
    --accent-color: #22d3ee;
    --text-color: #f9fafb;
  }
}

:root.light {
  --bg-color: #f3f4f6;
  --bg-color2: #e5e7eb;
  --bg-color3: #f9fafb;
  --bg-color4: #d1d5db;
  --color1: #9ca3af;
  --color2: #6b7280;
  --color3: #4b5563;
  --color4: #374151;
  --color5: #1f2937;
  --color6: #111827;
  --accent-color: #22d3ee;
  --text-color: #030712;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}